.header {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--card);
  border-bottom: 1px solid var(--border);
  padding: 1.5rem 2rem;
}

@media (max-width: 600px) {
  .header {
    padding: 1.25rem 1.25rem;
  }
}

.header h1 {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
  color: var(--foreground);
  margin: 0;
}
